.options-container {
    margin-left: 1%;
    margin-top: 1%;
    height: 90%;
    overflow-y: auto;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 17%;

background: linear-gradient(180deg, #ffffff38, #dfdfdf38, #b4b4b438);;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.26);

    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );


    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 25px;
    border:10px #00000077;
    
  }
  
  
  .options-container button {
    font-family: 'Lucida Sans';
    background-color: #ffffff00;
    color: #252525;
    font-weight: 400;
    text-align: start;
    padding-top: 0px;
    padding: 10px 10px;
    line-height: 1em;
    text-shadow: #000000;
    font-size: 20px;
    min-height: 50px;
    max-height: fit-content;
    margin: 5px 0;
    border: #fff9f900;
    border-radius: 25px;
  }
  .options-container button:hover {
    box-shadow: 7px 5px 56px -14px #000000;
   }
   
   .options-container button:active {
    transform: scale(0.97);
    box-shadow: 7px 5px 56px -10px #000000;
   }
  
  .greeting-container {
    font-family: 'Lucida Sans';

    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );


    max-height: 150px;
    min-height: 150px;
    border-radius: 25px;
    margin-top: 1.1%;
    margin-left: 20%;
    width: 80%;
    -webkit-text-fill-color: #252525;
    background: linear-gradient(180deg, #ffffff38, #dfdfdf38, #b4b4b438);;
    margin-right: 5%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    z-index: -10;
  }
  
  .greeting {
    margin-top: 2.5%;
    margin-left: 7%;
    font-size: 40px;
  }
  
  .date {
    margin-top: 2.5%;
    margin-right: 5%;
    font-size: 40px;
  }
  


  .task-container-wrapper {
    
    margin-left: 20%;
    width: 75%;
    display: flex;
    justify-content: space-between;
  }
  
  .remaining-tasks,
  .completed-tasks {
    
    display: inline-block;
    width: 45%;
  }

  .task-container,.rtask-container:hover{
    box-shadow: 5px 13px 37px 10px rgba( 31, 38, 135, 0.37 );
  
  }



  .task-container {
   
    word-wrap: break-word;
    font-family: 'Lucida Sans';
    min-width: 400px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.275);
    background-color: #ffffff14;
    padding: 20px;
    border-radius: 20px;
    margin-top: 10px;
  }
  
  .task-container h2 {
    word-wrap: break-word;
    background-color: #ffffff14;
    font-family: 'Lucida Sans';
    align-items: center;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .task {
    
    word-wrap: break-word;
    color: #252525;
    font-weight: 100;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    font-family: 'Lucida Sans';
    padding: 10px;
    margin-bottom: 2%;
    margin-top: 10px;
    font-size: 18px;
    background-color: #ffffff14;
    border-radius: 20px;
  }


  .rtask-container {
    word-wrap: break-word;
    font-family: 'Lucida Sans';
    min-width: 400px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.275);
    background-color: #ffffff14;
    padding: 20px;
    border-radius: 20px;
    margin-top: 2%;
  }
  
  .rtask-container h2 {
    word-wrap: break-word;
    background-color: #ffffff14;
    font-family: 'Lucida Sans';
    align-items: center;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .rtask {
   
    word-wrap: break-word;
    color: #252525;
    font-weight: 100;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    font-family: 'Lucida Sans';
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 18px;
    background-color: #ffffff14;
    border-radius: 20px;
  }


    /* Change the scrollbar style */
::-webkit-scrollbar {
  height: 80%;
  width: 15px;
  border-radius: 20px;
}

/* Change the scrollbar track */
::-webkit-scrollbar-track {
  background-color: #E1D9F3
  
}

/* Change the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #ffffff72;
  border-radius: 20px;
}

/* Change the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #8b86e46b;
}

.remainingtask{
  font-family: 'Lucida Sans';
}
.notaskcompleted{
  font-family: 'Lucida Sans';
  font-size: 32px;
  font-weight: bold;
  margin-top: 5%;
}
.notasksassgn{
  font-family: 'Lucida Sans';
  font-size: 32px;
  font-weight: bold;
  margin-top: 5%;
}
.completedtask{
  font-family: 'Lucida Sans';
  font-size: 32px;
  font-weight: bold;
  margin-top: 5%;
}


.donetaskbutton{
  background-color: #ffffff28;
  padding: 5px 10px 5px 10px;
  border-radius: 20px;
  border-color:1px solid #000000;
  margin-top: 3%;
  width: 200px;
  color: #000000;
}

.updatetaskbutton{
  background-color: #ffffff28;
  padding: 5px 10px 5px 10px;
  border-radius: 20px;
  margin-left: 40%;
  border-color:1px solid #000000;
  margin-top: 3%;
  width: 200px;
  color: #000000;
}
a:hover{
  background-color: #9c99ff;
  box-shadow: #00000078;
}